.wrap{
background: rgb(141, 141, 184); width: 100%; margin: 20px auto;
}
/*bagian header*/
.wrap .header{
background:rgb(198, 204, 134);
padding: 10px;
}
/*akhir header*/

/*bagian menu*/
.wrap .menu{padding: auto; margin: auto;
background: rgb(157, 130, 85);
overflow: hidden;
}
.wrap .menu ul{padding: 0; margin: 0;
background: rgb(163, 124, 39);
}

.wrap .menu ul li{
float: left;
list-style-type: none;
padding: 10px;
}
/*akhir menu*/

.clear{
clear: both;
}

.badan{
height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
background: rgb rgb(238, 232, 170);
float: left; width: 380px; height: 145%;
}

/*akhir sidebar*/

.wrap .badan .content{background: rgb(127, 127, 138); float: right; height: 140%; width: 70%;
}

.wrap .footer{ width: 99,5%; padding: 5px;
}

.title{
font-size: 26px; font-weight: bold; color:#666; padding: 5px 0; margin-bottom: 10px;
border-bottom: 1px solid #ccc;
}
.fitem{
margin-bottom: 5px;

}


